.superInput {
    height: 25px;
    outline: none;
    margin:5px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
}


.errorInput {
    height: 25px;
    outline: none;
    margin-bottom: 5px;
    margin-right: 5px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #e52727;
}

.error {
    color: red;
}

